*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

body {  
  font-family: 'Nova Square', cursive;  
  background-color: #f9fbfd;  
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;  
  margin-top:50px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);  
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  background-color:transparent; /*Added by Abhijeet */
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;  
  background-color:#384a5e;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #384a5e;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}


footer{
  font-size: 15px;
  text-align: center;
  width:100%;
  height:40px;
  position: fixed;
  bottom: 0px;  
  background-color:#f9fbfd;  
  color:#1f71c9;
  transition-property: background-color,box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

footer:hover{
  box-shadow: 0 0 15px tomato;  
  background-color: rgb(235, 229, 229);
}

.navbar{
  background: linear-gradient(to right,#343a40,#4ba2fe,hsl(360, 91%, 36%));
  box-shadow: 0 0 25px #4ba2fe;
}

#brand-logo{
  color:white;
  transition: color 2000ms ease-out;
}
#brand-logo:hover{
  color: tomato; 
  
}
.btn:hover{  
  background-color:hsl(360, 91%, 36%);
  color:white;

}

#improvedversion{
  font-size: 15px;
  text-align: center;
  margin-top:10px;
  border: 1px solid #4ca0fc;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px #888888;
}
#improvedverimg{
  width: 30%;
  height:30%;
  border:#a11f2c solid 2px;
}
#improvedverimg:hover{
  
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(4);
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari and Chrome */
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
