body{
    background-color: #cdcff8; 
    color: #07274d;
}
.container{    
    border:1px solid #0075ff;
    background-color: #d2def7;
    border-radius: 30px;;
}
  

  .navbar{      
      font-family: 'chewy', cursive;
    }

  .card{
      background: none;
      border:none;
  }
  .card-header{
 
      font-size: 24px;  
      border-radius: 30px;      
      border:none;
      background-color: transparent;
  }
  #ppfooter{
      border-top: 1px solid #0075ff;
  }
  #pwdBackground{
      background-color: #ce422d;
      padding:10px;
  }
  
  .no-border {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn{
    margin:5px;
}

  